@model ExArbeteJonas.ViewModels.AdvDetailsViewModel

<h2 class="red-two">@Model.AdvType.Name</h2>
<h2 class="ice-two">@Model.Title</h2>
<div class="container">   
    <div class="col-md-4" align="center">
        <h3 class="ice-three">Beskrivning</h3>
        @Model.Description
        <h3 class="ice-three">Annonsuppgifter:</h3>
        <ul>
            <li>Annonsen inlagd: @Html.DisplayFor(m => @Model.StartDate)</li>
            <li>Pris: @Model.Price Kr</li>           
            <li>Plats: @Model.Place</li>
        </ul>
    </div>
    <div class="col-md-4" align="center">
         <img src="~/Uploads/@Model.ImageFileName" alt="" class="img-responsive" />
    </div>
    <div class="col-md-4" align="center">
        <h3 class="ice-three">Annonsör:</h3>
        <ul>
            <li>Användarnamn: @Model.Member.UserName</li>
            @if (Model.Member.PhoneNumber != null)
            {
                <li>Telefon: @Model.Member.PhoneNumber</li>
            }
            <li>E-post: @Model.Member.Email</li>
        </ul>
        <a asp-action="SendMsg" asp-route-id="@Model.AdvId">Skicka E-post till annonsören</a>
        @if (@Model.Equipments.Count > 0)
        {
            <h3 class="ice-three">Detaljuppgifter om utrustningen:</h3>
            foreach (var eq in Model.Equipments)
            {
                <ul>
                    <li>Utrustningstyp: @eq.EqType.Name</li>
                    <li>Märke: @eq.Make</li>
                    @if (@eq.Model != null)
                    {
                        <li>Modell: @eq.Model</li>
                    }
                    @if (@eq.Size != null)
                    {
                        <li>Storlek: @eq.Size</li>
                    }
                    @if (@eq.Length != null)
                    {
                        <li>Längd: @eq.Length cm</li>
                    }
                </ul>
            }

        }
        else
        {
            <h3 class="ice-three">Inga detaljuppgifter om utrustningen</h3>
        }
    </div>
</div>

