@model ExArbeteJonas.ViewModels.AdsViewModel

<h2 class="ice-two">@Model.PageHeading</h2>

@{if (Model.CurrentAds.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Annonstyp
                    </th>
                    <th>
                        Annonsrubrik
                    </th>
                    <th>
                        Plats
                    </th>
                    <th>
                        Annonsdatum
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CurrentAds)
                {
                    <tr>
                        <td>
                            @item.AdvType.Name
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Place
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @if (item.Member.UserName == User.Identity.Name)
                            {

                                <a asp-action="DeleteOwnAdv" asp-route-id="@item.Id">Ta bort annonsen | </a>
                                <a asp-action="EditAdv" asp-route-id="@item.Id">Uppdatera annonsen | </a>
                            }
                            else
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="DeleteAdv" asp-route-id="@item.Id">Ta bort annonsen | </a>
                                }
                            }
                            <a asp-action="DetailsAdv" asp-route-id="@item.Id">Visa hela annonsen |</a>
                            <a asp-action="PdfAdv" asp-route-id="@item.Id">Kopiera till Pdf</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
<div id="ViewPdf"></div>


